.main-container {
  margin: 2rem;
}

.left-container {
  width: 30%;
  height: auto;
  float: left;

  mat-form-field {
    width: 95%;
  }
}

.right-container {
  width: 70%;
  height: 95vh;
  float: left;
  overflow: auto;
}

.uniform-container, .vest-container, .backpack-container {
  width: 33%;
  height: auto;
  float: left;

  mat-form-field {
    width: 95%;
  }
}

hr {
  margin-left: 20%;
  margin-right: 20%;
}
