.main-container {
  margin-left: 2rem;
  margin-top: 2rem;
}

.left-container {
  width: 30%;
  height: auto;
  float: left;

  mat-form-field {
    width: 95%;
  }
}

.right-container {
  width: 70%;
  height: 92vh;
  float: left;
  overflow: auto;
}

.uniform-container, .vest-container, .backpack-container {
  width: 33%;
  height: auto;
  float: left;
  margin-bottom: 2rem;

  mat-form-field {
    width: 95%;
  }
}

.category {
  margin-bottom: 2rem;
}

hr {
  margin-left: 20%;
  margin-right: 20%;
}

mat-hint {
  color: red;
}

mat-chip {
  margin-top: 0.3rem !important;
  cursor: pointer !important;
}

mat-chip:hover {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1) !important;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

mat-chip:focus {
  transition: none !important;
  box-shadow: none !important;
}

.delete-item-icon {
  margin-left: 0.2rem;
  cursor: pointer;
}

.add-item-icon {
  color: #16941c;
  margin-left: 0.2rem;
}
