<div class="container" (submit)="confirmAddItem()">
  <h2>Edit Item</h2>
  <p>
    Ammo count is only required when adding magazines.
  </p>

  <form [formGroup]="addItemForm" (ngSubmit)="confirmAddItem()">
    <mat-form-field>
      <input matInput formControlName="item" placeholder="Item">
    </mat-form-field>
    <mat-form-field>
      <input matInput min="1" type="number" formControlName="count" placeholder="Count">
    </mat-form-field>
    <mat-form-field>
      <input matInput min="0" type="number" formControlName="ammo" placeholder="Ammo count">
    </mat-form-field>
    <button mat-raised-button type="button" (click)="abortAddItem()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add Item</button>
  </form>
</div>
